<section data-ng-controller="HomeController">
    <div class="row" id="introHeader">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            <div class="slider-pro" id="slider">
                <div class="sp-slides">
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/zed.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">The more information You supply,
                            <br>the more precise our analysis gets,
                            <br>and the more accurate sugested champion picks.</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/ahri.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                            If You like this website please consider donation to back up creator.</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/yasuo.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">Our analysis takes into account not only current meta,
                            <br>counterpicks, but also Your skill level and Your current streak!</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/teemo.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">If You create an account You can set up all the information
                            <br>and it will autofill the proper fields. Personalize and save some time!</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/fizz.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">At the bottom of the page
                            <br>You can find contact information to autor.</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/gnar.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">Use our analysis wisely,
                            <br>and climb the ladder like never before.</p>
                    </div>
                    <div class="sp-slide">
                        <img class="sp-image" src="modules/core/img/slider/riven2.png">
                        <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">Level up Your division,
                            <br>get out of elo hell,
                            <br>Your place is at the top!</p>
                    </div>
                </div>
                <div class="sp-slide">
                    <img class="sp-image" src="modules/core/img/slider/malphite.png">
                    <p class="sp-layer" style="font-size: 18px;" data-position="bottomLeft" data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">If You are on losing streak,
                        <br>and we tell You to play normal instead of ranked,
                        <br>listen us, its for Your own good!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="type">Game type:</label>
            <select class="form-control" id="type" data-ng-model="gameType" data-toggle="tooltip" title="" data-original-title="Game type You want to analyze">
                <option value="p5sr">5v5 Summoners Rift Team</option>
                <option value="p3tt">3v3 Twisted Treeline Team</option>
                <option value="5sr">5v5 Summoners Rift</option>
                <option value="3tt">3v3 Twisted Treeline</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="role">Your role:</label>
            <select class="form-control" id="role" data-ng-model="gameRole" data-toggle="tooltip" title="" data-original-title="We will propose champions only for selected role">
                <option value="Unknown">Unknown</option>
                <option value="top">Top</option>
                <option value="mid">Mid</option>
                <option value="adc">AD carry</option>
                <option value="sup">Support</option>
                <option value="jun">Jungler</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="region">Region:</label>
            <select class="form-control" id="region" data-ng-model="gameRegion" data-toggle="tooltip" title="" data-original-title="Narrow down analysis to the specific region">
                <option value="Unknown">Unknown</option>
                <option value="NA">North America</option>
                <option value="EUW">EU West</option>
                <option value="EUNE">EU Nordic & East</option>
                <option value="BR">Brazil</option>
                <option value="TR">Turkey</option>
                <option value="LAN">Latin America North</option>
                <option value="LAS">Latin America South</option>
                <option value="OCE">Oceania</option>
                <option value="RU">Russia</option>
                <option value="KR">Korea</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="league">League:</label>
            <select class="form-control" id="league" data-ng-model="gameLeague" data-toggle="tooltip" title="" data-original-title="Narrow down analysis to the specific league - we will only consider games from that level">
                <option value="Unknown">Unknown</option>
                <option value="Bronze">Bronze</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
                <option value="Diamond">Diamond</option>
                <option value="Master">Master</option>
                <option value="Challenger">Challenger</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="summoner">Summoner name:</label>
            <input type="text" class="form-control" placeholder="Unknown" id="summoner" data-ng-model="gameSummoner" data-toggle="tooltip" data-original-title="We will consider Your performance on proposed champions">
        </div>
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-lg-7 col-md-6 col-xs-5" id="champions">
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 15px;">
                    <div class="right-inner-addon ">
                        <i class="fa fa-search fa-2x"></i>
                        <input type="search" id="search" class="form-control" placeholder="Search" ng-model="search.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-2 championBox" ng-repeat="champion in champions  | filter:search | orderBy : 'name'" data-drop="true" ng-model='champions' jqyoui-droppable="{index: {{$index}}, applyFilter: 'filterIt'}">
                    <img width="56" height="56" alt="{{champion.name}}" style="cursor: move;" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="champions" jqyoui-draggable="{index: {{$index}}, applyFilter: 'filterIt', placeholder:true}" ng-hide="!champion.name">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-xs-7">
            <div id="positionControls">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-3 col-xs-8 col-xs-offset-3 text-center">
                        <button class="btn btn-success btn-large hvr-icon-bob" ng-click="getPropositions()" style="margin-left:15px;">Start</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2 col-sm-10 col-sm-offset-2 col-xs-7 col-xs-offset-3">
                        <img class="versus" width="35" src="modules/core/img/positions/vs.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2 col-md-5 col-md-offset-2">
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue1" data-drop="true" ng-model="blue1" jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/blue1.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue1" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue_ban1" data-drop="true" ng-model='blue_ban1' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue_ban1" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple1" data-drop="true" ng-model='purple1' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/purple1.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple1" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple_ban1" data-drop="true" ng-model='purple_ban1' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple_ban1" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 hidden-xs text-center">
                        <div data-drop="true" ng-model='champions' jqyoui-droppable="{}" style="padding-left: 30px;">
                            <img src="modules/core/img/arrows/arrows.jpg" data-toggle="tooltip" data-original-title="Drop champion here to unselect">
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-0 col-xs-5 col-xs-offset-2">
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue2" data-drop="true" ng-model='blue2' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/blue2.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue2" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue_ban2" data-drop="true" ng-model='blue_ban2' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue_ban2" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple2" data-drop="true" ng-model='purple2' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/purple2.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple2" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple_ban2" data-drop="true" ng-model='purple_ban2' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple_ban2" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2 col-md-5 col-md-offset-2">
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue3" data-drop="true" ng-model='blue3' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/blue3.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue3" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue_ban3" data-drop="true" ng-model='blue_ban3' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue_ban3" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple3" data-drop="true" ng-model='purple3' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/purple3.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple3" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple_ban3" data-drop="true" ng-model='purple_ban3' jqyoui-droppable="{index: {{$index}}}">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/ban.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple_ban3" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2 col-md-4 col-md-offset-3">
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue4" data-drop="true" ng-model='blue4' jqyoui-droppable="{index: {{$index}}}" ng-hide="gameType === '3tt' || gameType === 'p3tt'">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/blue4.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue4" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple4" data-drop="true" ng-model='purple4' jqyoui-droppable="{index: {{$index}}}" ng-hide="gameType === '3tt' || gameType === 'p3tt'">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/purple4.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple4" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2 col-md-4 col-md-offset-3">
                        <div class="championBox pull-right" style="position: relative;" ng-repeat="champion in blue5" data-drop="true" ng-model='blue5' jqyoui-droppable="{index: {{$index}}}" ng-hide="gameType === '3tt' || gameType === 'p3tt'">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/blue5.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blue5" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="championBox pull-left" style="position: relative;" ng-repeat="champion in purple5" data-drop="true" ng-model='purple5' jqyoui-droppable="{index: {{$index}}}" ng-hide="gameType === '3tt' || gameType === 'p3tt'">
                            <img style="position: absolute;" width="56" height="56" ng-src="modules/core/img/positions/purple5.png">
                            <img style="position: absolute; cursor: move;" width="56" height="56" ng-if="champion.name" ng-src="modules/core/img/champions/{{champion.name}}.png" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="purple5" jqyoui-draggable="{index: {{$index}}, placeholder:true}" ng-hide="!champion.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div infinite-scroll="loadMorePropositions()" infinite-scroll-distance="3" class="col-lg-10 col-lg-offset-1 col-xs-12" style="margin-top:50px;" id="predictions">
            <div class="champPopup" ng-repeat="proposition in propositions">
                <div class="row">
                    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        <img ng-if="proposition.img" ng-src="modules/core/img/champions_load/{{proposition.img}}" height="300px" class="center-block">
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 text-center">
                        <h3>
                            <span style="font-style: italic; color: #dddddd;">#{{$index + 1}}</span>&nbsp;{{proposition.name}}
                        </h3>
                        <div ng-hide="!proposition.worksWell" style="margin-top: 55px;">
                            <span class="propositionWorks">Works well with:</span>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-4" ng-repeat="well in proposition.worksWell">
                                    <img width="50" height="50" alt="{{well}}" ng-if="well" ng-src="modules/core/img/champions/{{well}}.png" class="center-block">
                                </div>
                            </div>
                        </div>
                        <div ng-hide="!proposition.weakAgainst">
                            <span class="propositionWorks">Weak against:</span>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-xs-4" ng-repeat="weak in proposition.weakAgainst">
                                    <img width="50" height="50" alt="{{weak}}" ng-if="weak" ng-src="modules/core/img/champions/{{weak}}.png" class="center-block">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <ul class="list-unstyled pull-left">
                            <li style="margin-left:10px; margin-top:25px;">Pros:</li>
                            <ul class="list-unstyled" style="padding-left:25px; margin-left:10px;">
                                <li ng-repeat="pro in proposition.pros">
                                    <i class="fa fa-plus-circle" />&nbsp;{{pro}}
                                </li>
                            </ul>
                            <li style="margin-top: 10px; margin-left:10px;">Cons:</li>
                            <ul class="list-unstyled" style="padding-left:25px; margin-left:10px;">
                                <li ng-repeat="con in proposition.cons">
                                    <i class="fa fa-minus-circle" />&nbsp;{{con}}
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
</section>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });

    $('#slider').sliderPro({
        width: '100%',
        height: 400,
        arrows: true,
        buttons: false,
        autoplay: true,
        autoplayDelay: 5000,
        imageScaleMode: 'contain',
        keyboardOnlyOnFocus: true,
        shuffle: true,
        touchSwipe: true
    });
});
</script>
