<div class="modal-header">
    <h3 class="text-center">Restore your password</h3>
</div>
<div class="modal-body">
    <p class="small text-center">Enter your account email.</p>
    <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email*">
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-large action-button-green">Restore</button>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong>{{error}}</strong>
            </div>
            <div data-ng-show="success" class="text-center text-success">
                <strong>{{success}}</strong>
            </div>
        </fieldset>
    </form>
</div>
